.navbar{
    width: 100%;
    background-color: w;
    position: fixed;
    top: 0;
    background-color: rgba(var(--d87,255,255,255),1);
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    border-bottom-style:solid ;
    border-bottom-color:black ;
    width: 100%;
    z-index: 3;
    height: 5rem;
}

.navbar .nav, .navbar .nav > li {
    display:inline-block;
    margin: 1rem;
   }
  
   .navbar-inner {
    /* margin: 1rem; */
    text-align:center;
  }

  .textDesign{
      text-decoration: none;
      color: black;
      font-weight: bold;
  }

  .imgNav{
      align-self: center;
      width: 2.5rem;
  }

  .textSize1{
      font-size:1.5rem;
  }

  .imgSizeNav{
    width: 2.5rem;
    height: 2.5rem;
    color: black;
    }

    .textSize1{
        float: left;
    }